.bi-d-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 8px;
    border: 1px solid #efefef;
}

    .bi-d-cell > .blazor-icon {
        font-size: 24px;
    }

    .bi-d-cell > .bi-title {
        color: #4f4f4f;
    }

    .bi-d-cell > .bi-icon-name {
        background-color: #f8f9fa;
        border: 1px solid #efefef;
        padding: 4px;
        width: 100%;
        text-align: center;
        margin-top: 14px;
    }

    .bi-d-cell > pre {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        word-break: break-all;
        white-space: pre-wrap;
        word-wrap: break-word;
        background-color: #2d5f8b; /*#2d5f8b;4276a4;*/
        color: #fff;
        padding: 16px;
    }

.bi-icon-name-title {
    color: #aaa;
    display: inline-block;
    margin-right: 4px;
}
